@{
    ViewData["Title"] = "Cadastro de clientes";
}


<script src="~/lib/jquery/dist/jquery.mask.min.js"></script>
<div class="body-content">
    <div class="jumbotron">
        <h1 class="text-center">Cadastro de pessoas</h1>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12">
            <form>
                <div class="form-group">
                    <label class="col-md-12">Nome</label>
                    <div class="col-md-12">
                        <input required name="camponome" id="camponome" type="text" placeholder="Nome da pessoa" class="form-control">
                    </div>
                    <label for="datanascimento" class="col-md-12">Data de nascimento</label>
                    <div class="col-md-12">
                        <input name="camponasc" id="camponasc" type="date" placeholder="Data de nascimento da pessoa" class="form-control">
                    </div>
                    <label for="cpf" class="col-md-12">CPF</label>
                    <div class="col-md-12">
                        <input name="campocpf" id="campocpf" type="text" placeholder="CPF" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <button novalidate class="btn btn-primary" href="/cliente/menu">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <form id="formulario" onsubmit="pessoaController.adiciona(event)" class="form-horizontal form-material">
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="Telefone" required="" id="CPF" type="text" placeholder="Telefone" class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Inserir telefone</button>
                    </div>
                </div>
            </form>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Telefone</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#campocpf').mask("000.000.000-00", { placeholder: "___.___.___-__" });
</script>
