<div class="body-content">
    <div class="jumbotron">
        <h1 class="text-center">Cadastro de pessoas</h1>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-6 col-xs-12">
            <form id="formulario" onsubmit="pessoaController.adiciona(event)" class="form-horizontal form-material">
                <div class="form-group">
                    <label class="col-md-12">Nome</label>
                    <div class="col-md-12">
                        <input name="nome" required="" id="camponome" type="text" placeholder="Nome da pessoa" class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <label for="datanascimento" class="col-md-12">Data de nascimento</label>
                    <div class="col-md-12">
                        <input name="datanascimento" required="" id="datanascimento" type="date" placeholder="Data de nascimento da pessoa" class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-email" class="col-md-12">CPF</label>
                    <div class="col-md-12">
                        <input name="CPF" required="" id="CPF" type="text" placeholder="CPF" class="form-control form-control-line">
                    </div>
                </div>

                <div class="form-group">
                    <label for="example-email" class="col-md-12">Telefone</label>
                    <div class="col-md-12">
                        <input name="campotelefone" required="" id="campotelefone" type="text" placeholder="" data-mask="(99) 99999-9999" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <button novalidate class="btn btn-primary" href="/cliente/menu">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
            <form id="formulario" onsubmit="pessoaController.adiciona(event)" class="form-horizontal form-material">
                <div class="form-group">
                    <div class="col-md-12">
                        <input name="Telefone" required="" id="CPF" type="text" placeholder="Telefone" class="form-control form-control-line">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary">Inserir telefone</button>
                    </div>
                </div>
            </form>

            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
